div {
	width: 1160px;
	margin: 10px;
	padding: 15px;
	border: 50px solid #cc0000;
	font-family: "Gill Sans MT", Arial, sans-serif;
}

img {
	width: 1155px;
}

div#first-section {
	color: #cc0000;
	font-family: "Gill Sans MT", Arial, sans-serif;
}

body {background-color: #999999;}