div {
	width: 1100px;
	margin: 10px;
	padding: 15px;
	border: 50px solid #cc0000;
	font: Helvetica;
}

img {
	width: 1075px;
}

div#first-section {
	color: #cc0000;
}

body {background-color: #999999;}